

/* Header */
header {
  background: linear-gradient(135deg, var(--rosa-principal), var(--rosa-claro));
  color: var(--branco);
  padding: 80px 20px;
  border-bottom: 5px solid var(--rosa-principal);
}

header h1 {
  font-size: 3.5rem;
}

header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 10px;
}

/* Conteúdo */
main {
  flex: 1;
  padding: 60px 10%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Footer */
footer {
  background-color: var(--rosa-principal);
  color: var(--branco);
  padding: 40px 20px;
  font-size: 1.8rem;
  transition: background 0.3s ease;
}

footer:hover {
  background-color: #ff85b5;
}
